build/*
CMakeLists.txt.user


\.idea/

atomic_configure/

catkin/catkin_generated/version/

catkin_generated/

cmake_install.cmake

CMakeCache.txt

CMakeFiles/*

CMakeFiles/3.14.5/

CMakeFiles/_catkin_empty_exported_target.dir/

CMakeFiles/actionlib_generate_messages_cpp.dir/

CMakeFiles/actionlib_generate_messages_eus.dir/

gtest/

devel/

CMakeFiles/actionlib_generate_messages_lisp.dir/

CMakeFiles/actionlib_generate_messages_nodejs.dir/

CMakeFiles/actionlib_generate_messages_py.dir/

CMakeFiles/actionlib_msgs_generate_messages_cpp.dir/

*.make

*.ini

*.cmake

*.tcl

*.so

Makefile

mcdm_online_exploration

*.cbp

.vscode/settings.json

*.aux

*.fdb_latexmk

*.fls

*.log

*.pdf

*.gz
